body {
    /* background-color: blueviolet; */
    min-height: 100vh;

    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

/* .wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 1fr) minmax(400px, 1fr) 1fr;
    grid-template-areas: ". photo content .";
    column-gap: 75px;
}

.bio {
    grid-area: content;
}
*/
#root{
    height: 100%;
    min-height: 100vh;
}
.main-grid {
    height: 100%;
    min-height: 100vh;
}
@keyframes photos-animation {
    0% {transform: rotate(10deg);}
    50% {transform: rotate(8deg);}
    100% {transform: rotate(10deg);}
    }

@keyframes bio-animation {
    0% {transform: rotate(-5deg);}
    50% {transform: rotate(-2deg);}
    100% {transform: rotate(-5deg);}
    }

.photo {
    max-width: 400px;
    max-height: 600px;
    transform: rotate(10deg);
    animation-name: photos-animation;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
} 

.bio {
    transform: rotate(-5deg);
    animation-name: bio-animation;
    animation-duration: 65s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

h1,h2 {
    text-align: center;
}


@media (max-width: 900px) {
    .photo {
        max-width: 200px;
        max-height: 200px;
        transform: rotate(10deg);
        animation-name: photos-animation;
        animation-duration: 35s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    } 

    .MuiCardMedia-root{
        max-width: 200px;
        max-height: 200px; 
    }

    .MuiGrid-item {
        display: flex;
        justify-content: center;
    }

}
  